<div class="container-fluid bg-white m-0 p-0">
  <div class="row mt-4 m-0 p-0">
    <div class="col-md-12 m=0 p-0">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 ">
        <div>
          <div id="accordion" class="accordion" style="margin-top: 73px;">
            <div class="card mb-0">
              <div class="card-title" style=" color: rgb(59, 196, 250);">
                <h5><strong>Frequently Asked Questions</strong></h5>
              </div>
              <hr>
              <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                <h4 class="card-title"><strong>1). How do I make a Pickbids payment on a purchase with the Merchant ?</strong></h4>
              </div>
              <hr>
              <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <h5>The Payment of the customer can be paid directly at the Merchants counter. </h5>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h4 class="card-title"><strong>2) How do I redeem the offer ?</strong> </h4>
              </div>
              <hr>
              <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <h5>Firstly, select your preferred offer and then unlock the offer on the Pickbids app or the website later you will be receiving a unique redemption code to redeem the offer at the counter. </h5>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h4 class="card-title"><strong>3)What are the modes of the bill payment ?</strong> </h4>
              </div>
              <hr>
              <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
                <h5>Payment of the bills can be paid on all the major platforms which are available at the Merchant's counter such as Cash/Debit Card/ Credit Card and Wallet payments.  </h5>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <h4 class="card-title"><strong>4) Can the same redemption code be used multiple times at the Merchants counter ?</strong> </h4>
              </div>
              <hr>
              <div id="collapseFour" class="card-body collapse" data-parent="#accordion">
                <h5>: No, the redemption code cannot be used multiple times at the counter as Pickbids redemption codes are unique on every offer.</h5>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <h4 class="card-title"><strong>5). How do I contact with regards to any issue related to services or products with Pickbids ?</strong></h4>
              </div>
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Pickbids customers can shoot us an mail to our support team at support@pickbids.com or can get in touch with the concerned person at the Merchants counter in queries related to issues with services or with the products.
                  </h5>
                </div>
              </div>
              <!-- <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h4 class="card-title"><strong>5). How do I contact with regards to any issue related to services or products with Pickbids ?</strong></h4>
              </div>
              <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Pickbids customers can shoot us an mail to our support team at support@pickbids.com or can get in touch with the concerned person at the Merchants counter in queries related to issues with services or with the products.
                  </h5>
                </div>
              </div> -->
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                <h4 class="card-title"><strong>6). How to reach Pickbids for any queries, issues or complaints ?</strong></h4>
              </div>
              <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>You can write to us at support@pickbids.com for any queries or issues.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseven">
                <h4 class="card-title"><strong>7).How does it work ?</strong></h4>
              </div>
              <div id="collapseven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Let's make things real easy than being complicated.<br>
 
                    Steps to follow:<br>
                    
                    1. Download the Pickbids app on your smartphone.<br>
                    2. Sign-up and register yourself on the Pickbids app.<br>
                    3. Now, select the current location or let google find your precise location automatically.<br>
                    4. Find the offers and deals which are exclusively sugar-coated near you.<br>
                    5. Choose the offer and reach the Merchants counter.<br>
                    6. Redeem the offer with an automatically generated unique redemption code and share it with the Merchant to unlock your offer.                    
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseeight">
                <h4 class="card-title"><strong>8). Does Pickbids have an offer expiry date</strong></h4>
              </div>
              <div id="collapseeight" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Yes, deals and offers are valid to a certain period with terms and conditions apply. To know many more details on the offers please check the description of the offer with specific details.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                <h4 class="card-title"><strong>9). Can I edit the registered E-mail ID on Pickbids ?</strong></h4>
              </div>
              <div id="collapseNine" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Yes, the registered E-mail ID can be edited with an alternative mail ID through an OTP.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                <h4 class="card-title"><strong>10). Saw an offer on an app or website but it no longer exists ?</strong></h4>
              </div>
              <div id="collapseTen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>In some instances, the offers and deals are given to us by the Merchants for a limited period of time or till the promotion lasts. we at Pickbids remove the deals and offers when it reaches the cessation.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                <h4 class="card-title"><strong>11). Do I get any free offers or deals when I sign up with Pickbids ?</strong></h4>
              </div>
              <div id="collapseEleven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>We never disappoint anyone. Yaaay! Let's make your life fruitful, You're right.. we offer you 2 free deals on your 1st and 2nd purchases on Pickbids.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwleve">
                <h4 class="card-title"><strong>12).Why should I refer a friend for Pickbids ?</strong></h4>
              </div>
              <div id="collapseTwleve" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Why should you always have fun? You can get a bumper offer just by referring each friend from your friends circle or from any contact of yours with your unique Pickbids referral code. once they use your referral code and starts booking their first deal then you will be receiving much more sugar coated offers on your Pickbids, just an exclusive tailor made offers to you. 
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsethirteen">
                <h4 class="card-title"><strong>13). How many days does a Bronze subscription plan be valid for ?</strong></h4>
              </div>
              <div id="collapsethirteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>A Bronze subscription plan is valid for a period of 90 days with 2-4 offers per day. 
                    Once all the offers are unlocked for a day on Pickbids then the remaining offers will be frozen and will be defrosted on the next day on Pickbids app or website
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourfteen">
                <h4 class="card-title"><strong>14). How many days does a Silver subscription plan be valid for ?</strong></h4>
              </div>
              <div id="collapseFourfteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>A Silver subscription plan is valid for a period of 180 days with 4-6 offers per day.
                     Once all the offers are unlocked for a day on Pickbids then the remaining offers will be frozen and will be defrosted on the next day on Pickbids app or website.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
                <h4 class="card-title"><strong>15).How many days does a Gold subscription plan be valid for ?</strong></h4>
              </div>
              <div id="collapseFifteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>A Gold subscription plan is valid for a period of 270 days with 6-8 offers per day.
                     Once all the offers are unlocked for a day on Pickbids then the remaining offers will be frozen and will be defrosted on the next day on Pickbids app or website.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
                <h4 class="card-title"><strong>16).How many days does a Platinum Subscription plan be valid for ?</strong></h4>
              </div>
              <div id="collapseSixteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>A Platinum subscription plan is valid for a period of 365 days with 8-12 offers per day.
                     Once all the offers are unlocked for a day on Pickbids then the remaining offers will be frozen and will be defrosted on the next day on Pickbids app or website.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
                <h4 class="card-title"><strong>17).How many subscription plan does Pickbids have ?</strong></h4>
              </div>
              <div id="collapseSeventeen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Currently Pickbids provides 4 subscription plans. they are Bronze, Silver, Gold and Platinum. these plans are tailor made to your usability.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEightteen">
                <h4 class="card-title"><strong>18). Can I create multiple accounts on Pickbids ?</strong></h4>
              </div>
              <div id="collapseEightteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>: No, when one primary account gives you so many crazy deals and offers why do you think of multiple accounts? a single account is more than enough!
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">
                <h4 class="card-title"><strong>19).How do I close my Pickbids account ?</strong></h4>
              </div>
              <div id="collapseNineteen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Dang! we're unfortunately sorry as we don’t have any option to delete your account with Pickbids it's because we love you and we feel sad to tell you a goodbye.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">
                <h4 class="card-title"><strong>20).Why is the redeeming process dragging much time ?</strong></h4>
              </div>
              <div id="collapseTwenty" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Just chill, It 	Happens when you are using a 2G connectivity and with an unstable internet connection things mess-up. hence, We want you to have a stable internet connection with 4G connectivity or by using a Wi-Fi to make your redeeming process lightening fast.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">
                <h4 class="card-title"><strong>21).My query is not listed, what do I do now ?</strong></h4>
              </div>
              <div id="collapseTwentyone" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Whatever your query is and we'll have that answered to you on the mail. we request you to mail your queries to : support@pickbids.com and we'll get back to you asap.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo">
                <h4 class="card-title"><strong>22).Have a business and want to register with Pickbids, what do I do now ?</strong></h4>
              </div>
              <div id="collapseTwentytwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>We request you to send us a mail to contact@pickbids.com or submit your response through our automated form.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree">
                <h4 class="card-title"><strong>23).Are there any registration charges after I download the app ?</strong></h4>
              </div>
              <div id="collapseTwentythree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>No, there is nothing as such for our loyal customers.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfour">
                <h4 class="card-title"><strong>24).Can I login to Pickbids without creating a new account ?</strong></h4>
              </div>
              <div id="collapseTwentyfour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Off course, It’s an Yes. but make sure you login using any of your Google account or a Facebook account.
                  </h5>
                </div>
              </div>
              <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfive">
                <h4 class="card-title"><strong>25).Can we subscribe or unsubscribe your newsletter ?</strong></h4>
              </div>
              <div id="collapseTwentyfive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <h5>Yes, the most who wants the most can subscribe for our newsletter with your official E-mail ID's and Yes, you can still unsubscribe our newsletter who feels like but, we feel you and you'll miss many crazy deals and amazing deals.
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" mb-0 col-md-4 m-0 p-0">
        <form *ngIf="show">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">
              <h5 style=" color: rgb(59, 196, 250);"><strong>Other Queries</strong></h5>
            </label>
            <textarea class="card form-control rounded-10 m-0 p-0" id="exampleFormControlTextarea1"
              placeholder="Write Your Queries" rows="10"></textarea>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6  m-auto">
            <button type="submit" class="Send btn rounded-pill 5px " style="width: 100px;height: 41px;  ;"
              (click)="send()">Send</button>
          </div>
        </form>
        <form *ngIf="show1">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">
              <h5 style=" color: rgb(59, 196, 250);"><strong>Other Queries</strong></h5>
            </label>
            <div card="card card1">
              <textarea class="card m-0 rounded-0" id="exampleFormControlTextarea1"
                placeholder="Thank You. Your Query has been Sent." rows="5"></textarea></div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6  m-auto">
            <button type="submit" class="Send  btn rounded-pill 5px" style="width: 100px;height: 41px;"
              (click)="send1()">Ok</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>