.navimg{
    margin-top: -11px !important;
}
    .navbar .collapse .navbar-nav .nav-item .nav-link .material-icons, .navbar .collapse .navbar-nav .nav-item .nav-link .fa {
        font-size: 2.25rem !important;
        max-width: 24px;
        margin-top: -15px;
    }
    .profile{
        font-size: 1.50rem !important;
        margin-top: -0.1em;
    }
.example-card {
    max-width: 100px;
    margin: 4px
  }
 .fa-1 {
    font-size: 1.5em;
  }
.user {
    font-size: 1.5em;
  }
  p {
    font-family: Lato;
  }
  .example-header-image {
    background-image: url('../../assets/img/notification.png');
    background-size: cover;
  }
  .mat-card-title{
    font-size: 10px;
  }
  .example-card1 {
    width: 299px;
    height: 70px;
    margin: -2rem !important;
}
