<div class="">
  <div class="container-fluid bg-white">
    <p class="text-dark">Inactive Coupons Details</p>
    <div class="row mt-2">
      <div class="col-lg-12 col-md-12">
        <p class="text-dark">Coupon Name</p>
      </div>
    </div>
    <div class="coupons1 row mt-2">
      <div class="col-xs-6 col-sm-4 image text-center pl-2">
        <img src="{{coupons}}" alt="">
      </div>
      <div class="col-xs-6 col-sm-4 text-center rounded-right text">
        <p>Details</p>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <p>valid till : {{date}}</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <p class="text-dark">Coupon Name</p>
    </div>
    <div class="coupons1 row mt-2">
      <div class="col-xs-6 col-sm-4 image text-center pl-2">
        <img src="{{coupons}}" alt="">
      </div>
      <div class="col-xs-6 col-sm-4 text-center rounded-right text">
        <p>Details</p>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <p>valid till : {{date}}</p>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <p class="text-dark">Coupon Name</p>
    </div>
    <div class="coupons1 row mt-2">
      <div class="col-xs-6 col-sm-4 image text-center pl-2">
        <img src="{{coupons}}" alt="">
      </div>
      <div class="col-xs-6 col-sm-4 text-center rounded-right text">
        <p>Details</p>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        </ul>
        <p>valid till : {{date}}</p>
      </div>
    </div>
  </div>
</div>