<!------------------------------Header------------------------------------>
<div class="back">
    <img src="../../assets/img/catagorybackground.png" class="imgg" alt="">
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand mr-auto m-0 p-0" href="#">
            <img [src]='logo' class="headimg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><button class="btn btn-outline-light button1" type="submit"
                            style="color: white;">
                            Log In</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/merchants/signup"><button class="btn btn-outline-warning button1"
                            type="submit" style="background: orangered;color: white;">Register Now</button></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--------------------------------catagory----------------------------------------------->
    <div class="maindiv">
        <h2 class="choose"><strong>Choose Your Category</strong></h2>
        <div class="container maincontent">
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/resort.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 121px 0 10px;">Resorts</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/restaurant.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 126px 0 10px;">Restaurant </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/pub.png" alt="" class="w-100 img-fluid mh-100">
                            <div class=" content text-center w-100">
                                <h3 style=" margin: 137px 0 10px;"> Pubs</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/amusementpark.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 121px 0 10px;">Amusement Parks</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/gift.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 126px 0 10px;">Gift Centers</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/footwear.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style=" margin: 131px 0 10px;">Footwear</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/toys.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 130px 0 10px;">Toys Shops</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/fashion.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 137px 0 10px;">Fashion and Clothes</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/movies.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 142px 0 10px;">Movies </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/electric.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 123px 0 10px;">Electricals</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/hospital1.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 124px 0 10px;">Health & Care</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/jewelry1.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 132px 0 10px;">Jewellery</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/spa.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 129px 0 10px;">Spa and Saloon</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/gym.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 126px 0 10px;">Gym and Fitness Centers</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/coworkspace.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 135px 0 10px;"> Co-work Space</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/games.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 129px 0 10px;">Games & Fun</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/Stationary.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style=" margin: 126px 0 10px;">Stationary </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/coaching.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 129px 0 10px;">Coaching Institutes</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/homedecore.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 119px 0 10px;">Home Decoratives</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/groceries.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 123px 0 10px;">Groceries </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/hotel1.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 121px 0 10px;">Hotels and Stays</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/optical.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style=" margin: 115px 0 10px;"> Opticals </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                    <a routerLink="/merchants/signup">
                        <div class="container-fluid">
                            <img src="../../assets/img/servicecenter.png" alt="" class="w-100">
                            <div class=" content text-center w-100">
                                <h3 style="margin: 106px 0 10px">Automobiles /<br> Service Center</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 ">
                </div>
            </div>
        </div>
    </div>
</div>