<app-merchant-header></app-merchant-header>
<!--------------------------CAROSULE-------------------->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/slider1.png" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/slider2.png" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<!-------------------------------- our story--------------------------->
<div class="story" id='ourstory'>
  <h1>our story</h1>
  <img src="../../assets/img/thinkoutside.png" id="storyimage">
  <div class="story1">
    <h4 class="pickh4">pickbids</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu lacus auctor, fringilla libero non, pulvinar
      nibh. Aliquam eget nibh commodo, congue ligula nec, ultrices ex. Etiam pharetra, nunc non molestie interdum, dui
      ante lobortis urna, eget dapibus mi elit nec felis. Nunc eget massa egestas, gravida arcu ut, condimentum purus.
      Pellentesque non quam vitae urna egestas finibus. Praesent consequat dapibus felis. Nam bibendum sapien ut leo
      hendrerit cursus. Integer a blandit velit, vel semper lacus. Sed sit amet viverra leo. Mauris ut mauris erat.
      Aenean nibh ipsum, feugiat ut ante malesuada, vehicula sodales purus. Nunc sed diam sodales, consequat ante quis,
      euismod nibh. Morbi venenatis sapien eros, pulvinar iaculis dolor consectetur ac. Ut nunc augue, imperdiet eu
      nulla non, iaculis accumsan eros. Morbi porttitor magna at accumsan mollis. Suspendisse ut egestas dolor, congue
      molestie nunc. Mauris venenatis sem dolor, non eleifend ex blandit non.
    </p>
  </div>
</div>
<!------------------ Merchants model ---------------------------------------->
<div class="Merchant" id="merchantsmodel">
  <div class="container-fluid">
    <h1 class="modelh1">Merchants Model</h1>
    <div class="Merchant1">
      <div class="branding">
        <i class="fa fa-suitcase" id="fas1" aria-hidden="true"></i>
        <h3 class="brandh3">Branding</h3>
        <p style="color: #706F6B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ex velit, mollis in est
          et, aliquet interdum augue. Sed viverra varius sapien, in aliquam velit mattis ut. Quisque auctor, elit sit
          amet vulputate efficitur, libero velit fermentum augue, eget dapibus est libero et ligula. Duis egestas purus
          vitae pharetra iaculis. Fusce porta ornare odio congue molestie. Proin dapibus enim nec urna efficitur, nec
          tincidunt dui scelerisque. Sed ac est sed justo gravida viverra. Donec nunc ligula, egestas ut massa vitae,
          varius ultricies ipsum. In ut urna non eros lacinia bibendum.</p>
      </div>
    </div>
    <div class="Merchant2">
      <div class="user-base">
        <i class="fa fa-user-circle-o" id="fas2" aria-hidden="true"></i>
        <h3 id="userh3">Creating User Base</h3>
      </div>
      <p class="p2" style="color: #706F6B;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ex velit, mollis
        in est et, aliquet interdum augue. Sed viverra varius sapien, in aliquam velit mattis ut. Quisque auctor, elit
        sit amet vulputate efficitur, libero velit fermentum augue, eget dapibus est libero et ligula. Duis egestas
        purus vitae pharetra iaculis. Fusce porta ornare odio congue molestie. Proin dapibus enim nec urna efficitur,
        nec tincidunt dui scelerisque. Sed ac est sed justo gravida viverra. Donec nunc ligula, egestas ut massa vitae,
        varius ultricies ipsum. In ut urna non eros lacinia bibendum</p>
    </div>
  </div>
</div>
<!----------------------------CATAGORIES----------------------------->
<h3 class="choose" style="text-align: center;"><strong>Choose Your Categories</strong></h3>
<div class="container-fluid maincontent">
  <div class="container-fluid ">
    <div class="col-lg-12 col-md-12  p-2 ">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <a routerLink="/merchants/signup">
          <div class="container-fluid">
            <img src="../../assets/img/restaurant.png" alt="" class="w-100">
            <div class=" content text-center w-100">
              <h3 style=" margin: 146px 0 10px;">Restaurant </h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <a routerLink="/merchants/signup">
          <div class="container-fluid">
            <img src="../../assets/img/pub.png" alt="" class="w-100 img-fluid mh-100">
            <div class=" content text-center w-100">
              <h3 style="margin: 145px 0 10px;"> Pubs</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <a routerLink="/merchants/signup">
          <div class="container-fluid">
            <img src="../../assets/img/resort.png" alt="" class="w-100">
            <div class=" content text-center w-100">
              <h3 style=" margin: 148px 0 10px;">Resorts</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12  p-2">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <a routerLink="/merchants/signup">
        <div class="container-fluid">
          <img src="../../assets/img/gift.png" alt="" class="w-100">
          <div class=" content text-center w-100">
            <h3 style="margin: 140px 0 10px;">Gift Centers</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <a routerLink="/merchants/signup">
        <div class="container-fluid">
          <img src="../../assets/img/footwear.png" alt="" class="w-100">
          <div class=" content text-center w-100">
            <h3 style="margin: 140px 0 10px;">Footwear</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <a routerLink="/merchants/signup">
        <div class="container-fluid">
          <img src="../../assets/img/toys.png" alt="" class="w-100">
          <div class=" content text-center w-100">
            <h3 style="margin: 140px 0 10px;">Toys Shops</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="p-4 m-auto">
  <a routerLink="/category">
    <button class="btn rounded-pill  btn-warning">More</button>
  </a>
</div>
<!------------------------------ subscription--------------------------->
<div id="pricing">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="text-center">Subscription</h1>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Silver</h3>
        </div>
        <hr style="background-color: #5C2A9D;">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹399</h1>
          <ul class="fa-ul list-unstyled mt-3 mb-4">
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Coupons & offers.</li>
            <!-- <li> <span class="fa-li"><i class="fas fa-check"></i></span> </li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span></li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span></li> -->
          </ul>
          <a routerLink="/payment">
            <button type="button" class="btn btn-lg btn-block " style="background-color: #5C2A9D; margin-top: 120px;">Choose</button>
          </a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Gold</h3>
        </div>
        <hr style="background-color: #2fc4b2;">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹599</h1>
          <ul class="fa-ul list-unstyled mt-3 mb-4">
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free insurance worth INR 5 Lac.</li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free any 1 car/bike wash with polishing.</li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free any 1 saloon service.</li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free 1 burger from listed merchants.</li>
          </ul>
          <a routerLink="/payment">
            <button type="button" class="btn btn-lg btn-block" style="background-color: #2fc4b2;">Choose</button>
          </a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Platinum</h3>
        </div>
        <hr style="background-color: #f96d80;">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">₹999</h1>
          <ul class="fa-ul list-unstyled mt-3 mb-4">
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free movie ticket. </li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free insurance worth INR 10 Lac.</li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free any 2 car/bike wash with polishing.</li>
            <li> <span class="fa-li"><i class="fas fa-check"></i></span>Free any 2 saloon service.</li>
          </ul>
          <a routerLink="/payment">
            <button type="button" class="btn btn-lg btn-block " style="background-color: #f96d80;">Choose</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="qns">
    <h2>Do You Want To Grow Your Business?</h2>
    <a routerLink="/merchants/signup">
      <button type="button" class="btn rounded-pill btn-primary " style="background-color:#3a8cf2;">Register
        Here</button>
    </a>
  </div>
</div>
<div class="contact">
  <div class="row">
    <section class="contact" id="contactus">
      <img class="img1" src="../../assets/img/channel.png" style="background-color: rgba(0, 0, 0, 0.183); ">
      <div class="container">
        <div class="row" style="margin-top: 50px;" *ngIf="show">
          <div class="col-md-6">
            <div class="section-title">
              <h1 class='heading1'>
                <blockquote> Contact Us</blockquote>
              </h1>
            </div>
          </div>
          <div class="col-md-6 contact-content">
            <form class="auth-form ml-auto mt-4" [formGroup]="contactForm" (ngSubmit)="submit()">
              <div class="form-group">
                <label for="exampleInputName1" class="text-light">Name</label>
                <i class="fa fa-user fa1"></i>
                <input required="" name="name" formControlName="name" id="name" type="text" class="form-control"
                  id="exampleInputName1" placeholder="User name" style="background-color: #EAEAF1;">
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                  <div *ngIf="f.name.errors.required" class="warn">Name is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputName1" class="text-light contactnumber">Contact Number</label>
                <i class="fa fa-mobile fa1"></i>
                <input required="" name="contact" formControlName="contact" id="contact" type="tel" class="form-control"
                  placeholder="Contact Number" style="background-color: #EAEAF1;">
                <div *ngIf="f.contact.touched && f.contact.invalid" class="alert alert-danger">
                  <div *ngIf="f.contact.errors.required" class="warn">Mobile Number is required.</div>
                  <div *ngIf="f.contact.errors.pattern" class="warn">Please, Enter 10 digit Mobile Number.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail12" class="text-light">Email</label>
                <i class="fa fa-envelope-o fa1"></i>
                <input required="" name="email" formControlName="email" type="email" class="form-control"
                  id="exampleInputEmail12" placeholder="Email" style="background-color: #EAEAF1;">
                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                  <div *ngIf="f.email.errors.required" class="warn">Email is required.</div>
                  <div *ngIf="f.email.errors.email" class="warn">Valid Email is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label class="text-light">City</label>
                <i class="fa fa-university fa1"></i>
                <input required="" name="city" formControlName="city" id="city" type="char" class="form-control"
                  style="background-color: #EAEAF1;" id="exampleInputEmail12" placeholder="City">
                <div *ngIf="f.city.touched && f.city.invalid" class="alert alert-danger">
                  <div *ngIf="f.city.errors.required" class="warn">city is required.</div>
                  <div *ngIf="f.city.errors.pattern" class="warn">City Should be written in Character</div>
                </div>
              </div>
              <div class="form-group mb-0 text-center align-center">
                <button class="btn-theme btn rounded-pill px-10 btn1" [disabled]="!contactForm.valid" type="submit"
                  (click)="submit1()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="contact">
  <div class="row">
    <section class="contact" id="contactus">
      <img class="img2" src="../../assets/img/channel.png" style="background-color: rgba(0, 0, 0, 0.183); ">
      <div class="container">
        <div class="row" style="margin-top: 50px;" *ngIf="show1">
          <div class="col-md-12">
            <div class="section-title">
              <h1 class='heading2'>
                <blockquote class="blockquote1">Your Request Has Been Sent <br>Our exicutive Will <br>Get Back To You
                  Soon</blockquote>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-merchant-footer></app-merchant-footer>