<div class="">
  <div class="container-fluid bg-white">
    <div class="row mt-2">
      <div class="col-lg-12 col-md-12 ">
        <p class="text-dark p-2" style="margin-top: 75px;">Active Coupon's</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="/#active">
            <div class="card-header card-header-icon text-center">
              <img src="{{coupons}}" alt="">
              <button mat-raised-button class="rounded-pill text-center text-dark">150 QTY</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>