<div class="col-md-12 p-0 m-0">
  <div class="container col-md-12 p-0 m-0">
    <img class="bgimg" src="../../assets/img/bgimg.png" class="w-100 p-0 m-0 ">
    <div class="content text-center mt-2  w-100 content1">
      <div class="main-content">
        <div class="container-fluid">
          <section class="pricing">
            <h1 class="sub">Subscription Details</h1>
            <div class="container">
              <div class="row">
                <div class="col-lg-4" style="margin: auto;">
                  <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                      <h5 class="card-title text-dark text-uppercase text-center">Silver</h5>
                      <hr style="background-color: #5C2A9D;">
                      <h6 class="card-price text-center"> ₹399</h6>
                      <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                      </ul>
                      <a routerLink='/payment' class="btn btn-block  text-uppercase"
                        style="background-color: #5C2A9D;">Choose</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>