<!-- copy-right-section -->
<footer class="cpoy-right-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto" style="display: flex;list-style: none;">

        <div col-md-6 style="flex:1">
          <div col-md-2>
            <li class="nav-item active m-2">
              <a class="nav-link" href="#whoweare" style="color:white"> About Us<span
                  class="sr-only">(current)</span></a>
            </li>
          </div>
          <div col-md-2>
            <li class="nav-item active m-2">
              <a class="nav-link" href="#"><span style="color:white;">Visit </span>www.pickbids.com<span
                  class="sr-only">(current)</span></a>
            </li>
          </div>
          <div col-md-2>
            <li class="nav-item active m-2">
              <a class="nav-link" href="#contactus" style="color:white">Contact Us<span
                  class="sr-only">(current)</span></a>
            </li>
          </div>
        </div>
        <div col-md-6 style="flex:1">
          <div col-md-2>
            <li class="nav-item active m-1">
              <a class="nav-link" href="#" style="color: white;">Business<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div col-md-2>
            <li class="nav-item active m-1">
              <a class="nav-link" href="#" style="color: white;">Login<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div col-md-2>
            <li class="nav-item active m-1">
              <a class="nav-link" href="#" style="color: white;">Register<span class="sr-only">(current)</span></a>
            </li>
          </div>
          <div col-md-2>
            <li class="nav-item active m-1">
              <a class="nav-link" href="#" style="color: white;">FAQ's<span class="sr-only">(current)</span></a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="">
  <div class="footerimg ml-auto">
    <img src="../../assets/img/pickbids logo.png" class="footerimg" alt="">
  </div>
</div>