<div class="col-md-12 p-0 m-0">
  <div class="container col-md-12 p-0 m-0">
    <img class="bgimg" src="../../assets/img/bgimg.png" class="w-100 p-0 m-0 " style="height: fit-content;">
    <div class="content text-center mt-2  w-100 content1">
      <div class="main-content">
        <div class="container-fluid">
          <app-header-profile-notification></app-header-profile-notification>
          <h1 class="paymentmethod text-white"> Paid </h1>
          <mat-card class="razorpay2 text-white" layout="row" layout-align="center center">
            <i class="far fa-check-circle fa-9x" style="color: #79d70f;"></i><br>
            <a routerLink="/dashboard">
              <button type="submit" mat-flat-button
                class="paynow  m-0 mb-2 w-90 rounded-pill px-5 h-40 mt-5 ">Done</button></a>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>