<nav class="navbar navbar-expand-lg navbar-light " style="background-color: transparent !important;">
  <a class="navbar-brand mr-auto m-0 p-0" href="#">
    <img [src]='logo' class="headimg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item m-2">
        <a class="nav-link" href='#ourstory'>Our Story</a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link" href="#merchantsmodel" pageScroll>Merchants Model</a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link" href="#pricing" pageScroll>Subscription</a>
      </li>
      <li class="nav-item m-2">
        <a class="nav-link" href="#contactus" pageScroll>Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><button class="btn btn-outline-light button1" type="submit"
            style="background: transparent;color: black;">Log In</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/merchants/signup"><button class="btn btn-outline-light button1 " type="submit"
            style="background: orangered;color: white;">Register Now !</button></a>
      </li>
    </ul>
  </div>
</nav>