<div class="container col-md-12 p-0 m-0">
  <img src="../../assets/img/channelbackground.png" alt="" class=" p-0 m-0 imgg">
  <div class="content text-center ">
    <nav class="navbar fixed-top">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/pickbids logo.png" class="navimg" alt="">
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="color: white;font-size: 1.2rem;margin-right: 3pc;">
          <span><i class="fa fa-user-o fa-1" aria-hidden="true"></i></span>
        </li>
      </ul>
    </nav>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="logbox">
        <form id="signup" [formGroup]="signupForm2" (ngSubmit)="submit()">
          <a routerLink="/merchants/signup1">
            <i class="fa fa-times" aria-hidden="true" style="margin-left: 701px;font-size: 2 rem;"></i>
          </a>
          <h1 class="headh1" style="border-bottom: 2px solid red;width: 13%;margin-top: -38px;">Sign up</h1>
          <p class="m-auto p-4"> Account Settings</p>
          <div class="form-group">
            <input name="name" formControlName="name" type="text" placeholder="User Name" autofocus="autofocus"
              class="input pass" />
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
              <div *ngIf="f.name.errors.required">Username is required.</div>
            </div>
          </div>
          <div class="form-group">
            <mat-icon matSuffix (click)="hide3 = !hide3" style='cursor: pointer;'
              style="margin-left: 32%; top: 13px;  position:absolute;  color: black;">
              {{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <input name="Password" formControlName="Password" type="password" placeholder="Password"
              autofocus="autofocus" class="input pass input1" [type]="hide3 ? 'password' : 'text'">
            <div *ngIf="f.Password.touched && f.Password.invalid" class="alert alert-danger">
              <div *ngIf="f.Password.errors.required">Password is required.</div>
            </div>
          </div>
          <div class="form-group">
            <mat-icon matSuffix (click)="hide4 = !hide4" style='cursor: pointer;'
              style="margin-left: 32%; top: 13px;  position:absolute;  color: black;">
              {{hide4 ? 'visibility_off' : 'visibility'}}</mat-icon>
            <input name="ConfirmPassword" formControlName="ConfirmPassword" type="password"
              placeholder="Confirm Password" autofocus="autofocus" class="input pass input1"
              [type]="hide4 ? 'password' : 'text'"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.invalid" class="alert alert-danger">
              <div *ngIf="f.ConfirmPassword.errors.required">ConfirmPassword is required.</div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label style="margin-left: 5%;margin: 8%;">
                <input type="checkbox" name="check" formControlName="check">
                I agree to the Lorem ipsum dolor sit, amet consectetur adipisicing
              </label>
              <div *ngIf="f.check.touched && f.check.invalid" class="alert alert-danger">
                <div *ngIf="f.check.errors.required">Please Tick The CheckBox For Proceed To Next Page</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn rounded-pill text-dark bg-white" style="width:7pc;">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>